{% extends 'base.html' %}
{% block title_post %}: {{ trail.name }}
{% endblock %}
{% block content %}
<h1>{{ trail.name }}</h1>
<p>{{ trail.desc }}</p>

<h4>Uploaded by:</h4>
<p>{{ trail.upload_user }}</p>
<h4>Sharing status:</h4>
<p>{{ trail.share }}</p>

<h3><a href="#edit">Edit/Delete</a></h3>

<h3>Center point:</h3>
<p>{{ trail.center_lat }}, {{ trail.center_lon }}</p>

<h3>Edges of trail:</h3>
<p><strong>N:</strong> {{ trail.max_lat }}, <strong>E:</strong> {{ trail.max_lon }}, <strong>S:</strong> {{ trail.min_lat }}, <strong>W:</strong> {{ trail.min_lon }}</p>

<h3>Status:</h3>
<h4>Overall status:</h4>
<p>{{ trail.status_overall }}</p>
<ul>
    <li>Trail parsed: {{ trail.status_parsed }}</li>
    <li>Waypoints built: {{ trail.status_waypoints }}</li>
    <li>Heightmap retrieved: {{ trail.status_heightmap }}</li>
    <li>Mesh generated: {{ trail.status_mesh }}</li>
    <li>Trail texture generated: {{ trail.status_texture_trail }}</li>
    <li>Satellite texture retrieved: {{ trail.status_texture_satellite }}</li>
</ul>

<h3>Waypoints:</h3>
<ul>
    {% for waypoint in trail_waypoints %}
    <li>{{ waypoint.lat }}, {{ waypoint.lon }}{% if waypoint.notes %}<p>{{ waypoint.notes }}</p>{% endif %}{% if request.user == trail.upload_user %} <button>future edit button</button>{% endif %}</li>
    {% endfor %}
</ul>
{% if request.user == trail.upload_user %}
<h3 id="edit">Edit description:</h3>
<form action="{% url 'trails:edit_trail' trail.slug %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="textarea" name="desc" value="{{ trail.desc }}">
    <button type="submit">Save Changes</button>
</form>
<form action="{% url 'trails:delete_trail' trail.slug %}" method="post">
    {% csrf_token %}
    <button type="submit">Delete Trail</button>
</form>
{% endif %}

{% if trail.texture_trail %}
<img src="{{ trail.texture_trail.url }}" alt="">
{% endif %}

{% if trail.mesh and trail.texture_trail %}
<div id="threejs"></div>
{% load static %}
<script type="importmap">
    {
        "imports": {
            "three": "{% static 'three.module.js' %}",
            "obj": "{% static 'OBJLoader.js' %}",
            "orbit": "{% static 'OrbitControls.js' %}"
        }
    }
</script>
<script type="module">
    import * as THREE from 'three';
    import { OBJLoader } from 'obj';
    import { OrbitControls } from 'orbit';
    let camera, controls, scene, renderer;
    let mesh;
    init();
    animate();
    function init() {
        // camera
        camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 1, 1000 );
        camera.position.z = 200;
        camera.position.y = 100;
        // scene
        scene = new THREE.Scene();
        // lights
        const ambientLight = new THREE.AmbientLight( 0xcccccc, 0.2 );
        scene.add( ambientLight );
        const pointLight = new THREE.PointLight( 0xffffff, 0.6 );
        camera.add( pointLight );
        scene.add( camera );
        // mesh/texture loaders
        var OBJFile = '{{ trail.mesh.url }}';
        var JPGFile = '{{ trail.texture_trail.url }}';
        new OBJLoader()
            .load(OBJFile, function (object) {
                object.position.y = - 50;
                var texture = new THREE.TextureLoader().load(JPGFile);
                
                object.traverse(function (child) {   // aka setTexture
                    if (child instanceof THREE.Mesh) {
                        child.material.map = texture;
                    }
                });
                scene.add(object);
            });
        // renderer
        renderer = new THREE.WebGLRenderer( { antialias: true } );
        renderer.setPixelRatio( window.devicePixelRatio );
        const renderElement = document.getElementById("threejs");
        renderer.setSize( window.innerWidth, window.innerHeight );
        renderElement.appendChild( renderer.domElement );
        //
        window.addEventListener( 'resize', onWindowResize );
        // controls
        controls = new OrbitControls( camera, renderer.domElement );
        controls.listenToKeyEvents( window ); // optional
        controls.enableDamping = true; // an animation loop is required when either damping or auto-rotation are enabled
        controls.dampingFactor = 0.05;
        controls.maxPolarAngle = Math.PI / 2;
    }
    function onWindowResize() {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize( window.innerWidth, window.innerHeight );
    }
    function animate() {
        requestAnimationFrame( animate );
        controls.update();
        renderer.render( scene, camera );
    }
</script>
{% endif %}

{% endblock %}