{% extends 'base.html' %}
{% block title_post %}: {{ trail.name }}
{% endblock %}
{% block content %}
{% if trail.mesh and trail.texture_trail %}
<div id="threejs" style="width:100%; height: 50vh; background-color: #263238; color:white;"></div>
{% endif %}
<header>
    <div>
        <h1>[[ trailAssets.name ]]</h1>
        <p>
            added by <a href="#modal-user-trails" class="modal-trigger">[[ trailAssets.upload_user ]]</a> on [[ new Date(trailAssets.timestamp).toLocaleDateString() ]] at [[ new Date(trailAssets.timestamp).toLocaleTimeString() ]]

            <i v-if="trailAssets.share == 'private'" class="material-icons" :title="trailAssets.share">lock</i>
            <i v-if="trailAssets.share == 'public'"  class="material-icons" :title="trailAssets.share">public</i>
            <i v-if="trailAssets.share == 'link'"  class="material-icons" :title="trailAssets.share">share</i>

        </p>
    </div>
    {% if trail.upload_user == request.user %} 
    <nav class="deep-purple lighten-1" id="traileditnav">
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a @click="toggleTrailDescEdit"><i class="material-icons" title="edit description">edit</i>&nbsp; <span v-if="trailThumbsWidth > 500">edit description</span></a></li>
                <li class="tab"><a href="#modal-share-settings" @click="selectShareOption" class="modal-trigger"><i class="material-icons" title="edit share settings">share</i>&nbsp; <span v-if="trailThumbsWidth > 500">edit share settings</span></a></li>
                <li class="tab"><a href="#modal-delete-trail" class="modal-trigger"><i class="material-icons" title="delete trail">delete_forever</i>&nbsp; <span v-if="trailThumbsWidth > 500">delete trail</span></a></li>
            </ul>
        </div>
    </nav>
    {% endif %}
</header>
<section>
    <div id="maincontainer">
        <div class="row">
            <p v-if="trailDescEdit">[[ trailAssets.desc ]]</p>
            <form @submit.prevent="editTrail(), toggleTrailDescEdit()" v-else>
                <div class="input-field">
                    <textarea id="edittraildesc" name="desc" v-model="editedDesc" data-length="1000" class="materialize-textarea"></textarea>
                    <button v-if="!(trailDescEdit)" class="waves-effect waves-light btn-small deep-purple lighten-1" @click.prevent="cancelEditTrail(), toggleTrailDescEdit()">Cancel</button>
                    <button type="submit" class="waves-effect waves-light btn-small light-green darken-1">Save Changes</button>
                </div>
            </form>
        </div>
        <div id="trail-photos-container">
            <h4>
                Photos
            </h4>
            <div id="trail-photos" ref="trailPhotos" v-if="trailPhotos.length">
                <figure v-for="photo in showThumb.reverse()" :key="photo.id">
                    <a :href="photo.photoHREF" class="modal-trigger">
                        <img :src="photo.thumb" :alt="photo.caption" class="modal-thumb">
                    </a>
                    <div :id="photo.photoID" class="modal">
                        <div class="modal-content">
                            <img :src="photo.url" :alt="photo.caption" class="inside-modal">
                            <p>[[ photo.caption ]]</p>
                            <p><em>Uploaded by [[ photo.user ]] on [[ new Date(photo.timestamp).toLocaleDateString() ]] at [[ new Date(photo.timestamp).toLocaleTimeString() ]].</em></p>
                        </div>
                        <!-- <div class="modal-footer">
                            [[ photo.id ]]
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div> -->
                    </div>
                </figure>
            </div>
            <span v-if="trailPhotos.length"><span v-if="numThumb <= trailPhotos.length">[[ numThumb ]] newest</span><span v-else>[[ trailPhotos.length ]]</span> of <a href="#modal-all-photos" class="modal-trigger" title="view all photos">[[ trailPhotos.length ]] <i class="material-icons">photo_library</i></a>{% if trail.upload_user == request.user %} <a href="#modal-add-photos" class="modal-trigger" title="add new photos"><i class="material-icons">add_a_photo</i></a>{% endif %}</span>
            <div id="trail-photos" v-else>
                <span>There are no photos currently. {% if trail.upload_user == request.user %}<a href="#modal-add-photos" class="modal-trigger" title="add new photos"><i class="material-icons">add_a_photo</i> Add photos now.</a>{% endif %}</span>
            </div>
        </div>
        <div id="trail-comment-container">
            <h4>
                Comments
            </h4>
            {% if request.user.is_authenticated %}
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">create</i>Add comment</div>
                    <div class="collapsible-body">
                        <form method="post" enctype="multipart/form-data"></form>
                            <div class="input-field">
                                <textarea v-model="newComment" id="id_comment" class="materialize-textarea" data-length="500"></textarea>
                                <label for="id_comment">
                                    Comment
                                </label>
                            </div>
                            <button type="submit" class="modal-close waves-effect waves-light btn-small light-green darken-1" @click="addTrailComment"><i class="material-icons right">send</i>Add Comment</button>
                        </form>
                    </div>
                </li>
                <li class="active">
                    <div class="collapsible-header"><i class="material-icons">chat</i>Comments</div>
                    <div class="collapsible-body">
                        <div v-for="comment in trailComments" v-if="trailComments.length">
                            [[ comment.user ]] - [[ new Date(comment.timestamp).toLocaleDateString() ]] at [[ new Date(comment.timestamp).toLocaleTimeString() ]]<br>[[ comment.comment ]]
                        </div>
                        <span v-else>There are no comments yet.</span>
                    </div>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</section>

{% if trail.mesh and trail.texture_trail %}
{% load static %}
<script type="importmap">
    {
        "imports": {
            "three": "{% static 'three.module.js' %}",
            "obj": "{% static 'OBJLoader.js' %}",
            "orbit": "{% static 'OrbitControls.js' %}"
        }
    }
</script>
<script type="module" defer>
    import * as THREE from 'three';
    import { OBJLoader } from 'obj';
    import { OrbitControls } from 'orbit';
    let camera, controls, scene, renderer;
    let mesh;
    
    var OBJFile = app.trailAssets.mesh;
    var JPGFile = app.trailAssets.texture_trail;
    function loadAssets () {
        var loadedOBJ = new OBJLoader()
        .load(OBJFile, function (object) {
                object.position.y = - 25;
                var texture = new THREE.TextureLoader().load(JPGFile);
                
                object.traverse(function (child) {
                    if (child instanceof THREE.Mesh) {
                        child.material.map = texture;
                    }
                });
                scene.add(object);
            });
    }
    loadAssets();
    init();
    animate();
    const renderElement = document.getElementById("threejs");
    function init() {
        // camera
        const renderElement = document.getElementById("threejs");
        //camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 1, 1000 );
        camera = new THREE.PerspectiveCamera( 70, renderElement.offsetWidth / renderElement.offsetHeight, 1, 1000 );
        camera.position.z = 100; // make this dynamic !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        camera.position.y = renderElement.offsetHeight / 8;
        // scene
        scene = new THREE.Scene();
        //scene.background = "263238"
        // lights
        const ambientLight = new THREE.AmbientLight( 0xcccccc, 0.2 );
        scene.add( ambientLight );
        const pointLight = new THREE.PointLight( 0xffffff, 0.6 );
        camera.add( pointLight );
        scene.add( camera );
        // mesh/texture loaders
        // django method
        //var OBJFile = '{{ trail.mesh.url }}';
        //var JPGFile = '{{ trail.texture_trail.url }}';
        // vue method
        //var OBJFile = app.trailAssets.mesh;
        //var JPGFile = app.trailAssets.texture_trail;
        //new OBJLoader()
        //.load(OBJFile, function (object) {
        //        object.position.y = - 25;
        //        var texture = new THREE.TextureLoader().load(JPGFile);
        //        
        //        object.traverse(function (child) {
        //            if (child instanceof THREE.Mesh) {
        //                child.material.map = texture;
        //            }
        //        });
        //        scene.add(object);
        //    });
        // renderer
        renderer = new THREE.WebGLRenderer( { antialias: true } );
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setClearColor (0x263238, 0);
        //const renderElement = document.getElementById("threejs");
        //renderer.setSize( window.innerWidth, window.innerHeight );
        renderer.setSize( renderElement.offsetWidth, renderElement.offsetHeight );
        renderElement.appendChild( renderer.domElement );
        //
        window.addEventListener( 'resize', onWindowResize );
        // controls
        controls = new OrbitControls( camera, renderer.domElement );
        // unbind default keys (arrow keys pan mesh)
        controls.keys = { LEFT: '', RIGHT: '', UP: '', BOTTOM: '' }
        controls.listenToKeyEvents( window );
        controls.enableDamping = true;
        controls.dampingFactor = 0.05;
        controls.maxPolarAngle = Math.PI / 2;
    }
    
    function onWindowResize() {
        //camera.aspect = window.innerWidth / window.innerHeight;
        camera.aspect = renderElement.offsetWidth / renderElement.offsetHeight;
        //camera.position.y = renderElement.offsetHeight / 8;
        camera.updateProjectionMatrix();
        //renderer.setSize( window.innerWidth, window.innerHeight );
        renderer.setSize( renderElement.offsetWidth, renderElement.offsetHeight );
    }
    function animate() {
        if ((JPGFile != app.trailAssets.texture_trail) || (OBJFile != app.trailAssets.mesh)) {
            JPGFile = app.trailAssets.texture_trail
            OBJFile = app.trailAssets.mesh
            loadAssets()
            scene.remove(scene.children[2])
        }
        requestAnimationFrame( animate );
        controls.update();
        renderer.render( scene, camera );
    }
</script>
{% endif %}

{% endblock %}

{% block modals %}
    {% if trail.upload_user == request.user %} 
    <!-- Add Photos Modal -->
    <div id="modal-add-photos" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Upload photos</h4>
            <form action="#">
                <div class="file-field input-field">
                    <div class="waves-effect waves-light btn-small deep-purple lighten-1">
                        <span>Choose a file...</span>
                        <input type="file" ref="trailphotofile" @change="selectNewTrailPhotos" accept=".jpg,.jpeg,.png,.gif,.webp" multiple>
                        <input type="hidden" value="{{ request.user }}">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                </div>
            </form>
            <div v-if="newPhotos.length">
                <p v-for="newPhoto in newPhotos">
                    [[ newPhoto.name ]] [[ newPhoto.status ]]
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- User Trails Modal -->
    <div id="modal-user-trails" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Trails added by [[ trailAssets.upload_user ]]</h4>
            <ul v-if="userTrails.length">
                <li v-for="trail in userTrails">
                    <a :href="trail.slug">[[ trail.name ]]</a> - <em>added [[ new Date(trail.timestamp).toLocaleDateString() ]]</em>
                </li>
            </ul>
            <p v-else>Uh-oh, this user doesn't seem to have any publicly visible trails!</p>
        </div>
    </div>
    <!-- All Photos Modal -->
    <div id="modal-all-photos" class="modal bottom-sheet modal-fixed-footer">
        <div id="trail-photos-container" class="modal-content">
            <div id="trail-photos" ref="trailPhotos">
                <figure v-for="photo in trailPhotos" :key="photo.id">
                    <a :href="photo.photoHREF" class="modal-trigger">
                        <img :src="photo.thumb" :alt="photo.caption" class="modal-thumb">
                    </a>
                </figure>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-small light-green darken-1">Close</a>
        </div>
    </div>
    <!-- Each Photo In All Photos Modal -->
    <div id="trail-photos" v-for="photo in trailPhotos">
        <div :id="photo.photoID" class="modal">
            <div class="modal-content">
                <img :src="photo.url" :alt="photo.caption" class="inside-modal">
                <p>[[ photo.caption ]]</p>
                <p><em>Uploaded by [[ photo.user ]] on [[ new Date(photo.timestamp).toLocaleDateString() ]] at [[ new Date(photo.timestamp).toLocaleTimeString() ]].</em></p>
            </div>
        </div>
    </div>
    {% if trail.upload_user == request.user %} 
    <!-- Share Settings Modal -->
    <div id="modal-share-settings" class="modal bottom-sheet">
        <form method="post" enctype="multipart/form-data" @submit.prevent="editTrail">
            <div class="modal-content">
                <h4>Edit share settings:</h4>
                <p>Select your preferred share setting from the dropdown below.</p>
                <p>"Share with link" makes the trail publicly available, but will not list it in search results.</p>
                <div class="input-field col s12">
                    <select id="trailshareselect" name="share">
                        <option v-for="(value, key) in shareOptions" :value="key" :selected="key == trailAssets.share">[[ value ]]</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                    <button @click.prevent="cancelEditTrail" class="modal-close waves-effect waves-light btn-small deep-purple lighten-1">
                        Cancel
                    </button>
                <button @click="updateEditedShare" type="submit" class="modal-close waves-effect waves-light btn-small light-green darken-1">
                    Save Changes
                </button>
            </div>
        </form>
    </div>
    <!-- Delete Trail Modal -->
    <div id="modal-delete-trail" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Are you sure?</h4>
            <p>
                Deleting trails cannot be undone. Press confirm to delete, or cancel if you change your mind.
            </p>
            <p>
                You can set the trail to private instead of you need more time to decide.
            </p>
        </div>
        <div class="modal-footer">
            <form action="{% url 'trails:delete_trail' trail.slug %}" method="post">
                <a href="#!">
                    <button @submit.prevent="" class="modal-close waves-effect waves-light btn-small deep-purple lighten-1">
                        Cancel
                    </button>
                </a>
                {% csrf_token %}
                <button type="submit" class="waves-effect waves-light btn-small red accent-4">Delete</button>
            </form>
            <!-- <button type="submit" class="waves-effect waves-green btn-flat" formaction="{% url 'trails:delete_trail' trail.slug %}">Delete</button> -->
        </div>
    </div>
    {% endif %}
{% endblock %}