@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rokkitt:wght@300&display=swap');
/* font-family: 'Nunito', sans-serif;
font-family: 'Rokkitt', serif; */

body {
    font-family: 'Nunito', sans-serif;
    --green: 124,179,66; /* #7CB342 */
    --purple: 126,87,194; /* #7E57C2 */
    --yellow: 255,193,7; /* #FFC107 */
    --light: 255,255,255; /* #FFFFFF */
    --dark: 38,50,56; /* #263238 */
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

main a {
    color: rgba(var(--green), 1);
    transition: .4s;
    text-decoration: underline 3px;
    text-decoration-color: rgba(var(--green), 0);
}

main a:hover {
    color: rgb(var(--purple));
    text-decoration: underline 3px;
    text-decoration-color: rgba(var(--purple), 1);
}

section {
    display: flex;
}

section div {
    padding: 10px;
}

section aside {
    /* background-color: rgb(var(--dark));
    color: white; */
    border-left: 9px double rgb(var(--green));
    border-bottom: 9px double rgb(var(--green));
    padding: 10px;
}

header {
    background-color: rgb(var(--green));
    padding: 10px;
    text-align: center;
}

header a {
    color: rgba(var(--purple), 1);
    text-decoration-color: rgba(var(--purple), 0);
}

header a:hover {
    color: rgba(var(--yellow),1);
    text-decoration-color: rgba(var(--yellow), 1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rokkitt', serif;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav .brand-logo {
    font-family: 'Rokkitt', serif;
    font-weight: bold;
    transition: .4s;
    color: rgb(var(--dark));
    text-decoration: double underline rgba(var(--dark),0) 3px;
}

nav .brand-logo:hover {
    color: rgb(var(--yellow));
    text-decoration: double underline rgba(var(--yellow),1) 3px;
}

nav {
    border-bottom: 3px double rgb(var(--dark));
}

nav ul a, nav a {
    /* color: var(--purple); */
    color: rgb(var(--dark));
    transition: .4s;
    text-decoration: underline rgba(var(--dark),0) 3px;
}

nav ul a:hover, nav a:hover {
    color: rgb(var(--green));
    text-decoration: underline rgba(var(--green),1) 3px;
}

nav ul a {
    /* outline:3px double rgba(0,0,0,0); */
    /* outline-offset:-3px; */
}

nav ul a:hover {
    background-color: rgba(127,127,127,.15);
    /* outline:3px double rgba(0,0,0,1); */
}

#trail-photos {
    display: flex;
    padding:0px;
}

#trail-photos figure {
    margin:0px;
}

/* .material-placeholder {
    padding: 0px;
} */

.modal-thumb {
    object-fit: cover;
    width:150px;
    height:150px;
}

.inside-modal {
    object-fit: contain;
    max-width: 100%;
    max-height: 80vh;
}

#trail-photos .modal {
    max-height:80%
}

#trail-photos .modal-content {
    padding:0px;
}

/* #trail-photos figure img.active {
    object-fit: contain;
} */

/* #materialbox-overlay {
    background-color: rgb(var(--dark));
} */

.material-icons {
    font-size: inherit;
    line-height: inherit;
}

.hidden {
    display: none;
}