{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"> -->
	<script src="https://unpkg.com/vue@3"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <script src="{% static 'init.js' %}" defer></script>
    <script src="{% static 'script.js' %}" defer></script>
    <title>{% block title_pre %}{% endblock %}{% block title %}TopoTrail{% endblock %}{% block title_post %}{% endblock %}</title>
</head>
<!-- <body id="app" class="blue-grey darken-4 white-text">
    <nav class="blue-grey darken-4" role="navigation"> -->
<body id="app" class="white blue-grey-text text-darken-4">
    {% csrf_token %}
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'trails:home' %}" class="brand-logo center">TopoTrail</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#" class="">Search</a></li>
                {% if request.user.is_authenticated %}
                <li><a class="modal-trigger" href="#modal-add-trail">Add Trail</a></li>
                <li><a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a></li>
                <!-- <li><a href="{% url 'users:logout_user' %}">Logout</a></li> -->
                {% else %}
                <li><a class="modal-trigger" href="#modal-login">Login</a></li>
                <li><a class="modal-trigger" href="#modal-signup">Sign Up</a></li>
                {% endif %}
            </ul>
            
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Search</a></li>
                {% if request.user.is_authenticated %}
                <li><a class="modal-trigger" href="#modal-add-trail">Add Trail</a></li>
                <li><a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a></li>
                <!-- <li><a href="{% url 'users:logout_user' %}">Logout</a></li> -->
                {% else %}
                <li><a class="modal-trigger" href="#modal-login">Login</a></li>
                <li><a class="modal-trigger" href="#modal-signup">Sign Up</a></li>
                {% endif %}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
        <!-- Logout Form (hidden) -->
        {% if request.user.is_authenticated %}
        <form action="{% url 'users:logout_user' %}" method="POST" id="logout-form">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path|urlencode }}">
        </form>
        {% endif %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- MODALS -->

    {% block modals %}
    {% endblock %}

    {% if request.user.is_authenticated %}

    <!-- Add Trail Modal -->
    <div id="modal-add-trail" class="modal bottom-sheet">
        <form action="{% url 'trails:new_trail' %}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <h4>Add Trail</h4>
                {% csrf_token %}
                <div class="input-field">
                    {{ new_trail_form.name }}
                    <label for="id_name">
                        Trail Name
                    </label>
                </div>
                <div class="input-field">
                    {{ new_trail_form.desc }}
                    <label for="id_desc">
                        Trail Description
                    </label>
                </div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Select Trail File</span>
                        <input type="file" id="id_trail_file" name="id_trail_file" class="" accept=".geojson,.gpx">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    {{ new_trail_form.trail_file }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="modal-close waves-effect waves-light btn-small ttblue"><i class="material-icons right">send</i>Add Trail</button>
            </div>
        </form>
    </div>

    {% else %}

    <!-- Login Modal -->
    <div id="modal-login" class="modal bottom-sheet">
        <form action="{% url 'users:login_user' %}" method="POST" class="">
            <div class="modal-content">
                <h4>Login</h4>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path|urlencode }}">
                <div class="input-field">
                    <input type="text" id="username" name="username" class="">
                    <label for="username">
                        Username
                    </label>
                </div>
                <div class="input-field">
                    <input type="password" id="password" name="password" class="">
                    <label for="password">
                        Password
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="modal-close waves-effect waves-light btn-small ttblue"><i class="material-icons right">send</i>Login</button>
            </div>
        </form>
    </div>

    <!-- Signup Modal -->
    <div id="modal-signup" class="modal bottom-sheet">
        <form action="{% url 'users:signup_user' %}" method="POST" class="">
            <div class="modal-content">
                <h4>Sign Up</h4>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path|urlencode }}">
                <div class="input-field">
                    <input type="text" id="username" name="username" class="">
                    <label for="username">
                        Username
                    </label>
                </div>
                <div class="input-field">
                    <input type="email" id="email" name="email" class="">
                    <label for="email">
                        Email
                    </label>
                </div>
                <div class="input-field">
                    <input type="password" id="password1" name="password1" class="">
                    <label for="password1">
                        Password
                    </label>
                </div>
                <div class="input-field">
                    <input type="password" id="password2" name="password2" class="">
                    <label for="password2">
                        Confirm password
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="modal-close waves-effect waves-light btn-small ttblue"><i class="material-icons right">send</i>Sign Up</button>
            </div>
        </form>
    </div>
    {% endif %}
    <!-- END MODALS -->

    <footer>
        &copy; 2022 TopoTrail
    </footer>
</body>
</html>